
<div class="row">

        <!-- SIDEBAR -->
        <div id="sidebar" class="filtry col-lg-2 col-md-2 col-sm-12 col-xs-12">
        
            <h3><center>Szukaj:</center></h3>
            <div id="kat"> 
                <input type="number" name="priceFrom" value="cena od" style="width: 33%; margin-top: 10px;" placeholder="cena od"/> 
                <input style="width: 33%; margin-top: 10px;" type="number" name="priceTo" value="cena do" placeholder="cena do"/> 
            </div>
            <div id="kat">
                <input type="text" name="name"  style="width: 66%; margin-top: 10px;" placeholder="nazwa" /> 
            </div>
            <div id="kat">
                    <input type="text" name="category"  style="width: 66%; margin-top: 10px;" placeholder="kategoria" /> 
            </div>
            <!--
                <div id="kat"> <h5><input type="checkbox" name="kat3" value="Męskie" /> Rozmiar (pewnie radio)</h5> </div>
                <div id="kat"> <h3><input type="checkbox" name="kat4" value="Męskie" /> Marka</h3> </div>
                <div id="kat"> <h3><input type="checkbox" name="kat5" value="Męskie" /> Krój</h3> </div>
                <div id="kat"> <h3><input type="checkbox" name="kat6" value="Męskie" /> Kolor</h3> </div>
                <div id="kat"> <h3><input type="checkbox" name="kat7" value="Męskie" /> Stan</h3> </div>
                <div id="kat"> <h3><input type="checkbox" name="kat8" value="Męskie" /> Materiał</h3> </div>
                <div id="kat"> <h3><input type="checkbox" name="kat9" value="Męskie" /> Inny filtr</h3> </div>
                <div id="kat"> <h4><input type="checkbox" name="kat10" value="Męskie" /> Jeszcze inny filtr</h4> </div>
            -->
            <button type="submit" href="#" id="filtruj" class="btn-primary btn-sm" style="margin-top:10px;">Filtruj</button>
            
        </div>
        <!--CONTENT-->
        <div class="lista col-lg-8 col-md-8 col-sm-12 col-xs-12" id="listContent">
            
            <!-- items/listedProduct.template -->
        </div>
        <div id="paginator"></div>
</div>


