<div>
    <h3 style="float: right; font-family: 'Oswald', sans-serif;">Przykładowy przedmiot</h3>
    <img src="imgs/produkt_img.png">
    <p>Cena: 79.99,-</p>
    <button type="submit" href="#" id="kup" class="btn-primary btn-xs">Do koszyka</button>
    <button type="submit" href="#" id="rozwin" class="btn-primary btn-xs">Szczegóły</button>

</div>

<div>
    <h3 style="float: right; font-family: 'Oswald', sans-serif;">Przykładowy przedmiot</h3>
    <img src="imgs/produkt2_img.png">
    <p>Cena: 189.99,-</p>
    <button type="submit" href="#" id="kup" class="btn-primary btn-xs">Do koszyka</button>
    <button type="submit" href="#" id="rozwin" class="btn-primary btn-xs">Szczegóły</button>
</div>

<div>
    <h3 style="float: right; font-family: 'Oswald', sans-serif;">Przykładowy przedmiot</h3>
    <img src="imgs/produkt3_img.png">
    <p>Cena: 119.99,-</p>
    <button type="submit" href="#" id="kup" class="btn-primary btn-xs">Do koszyka</button>
    <button type="submit" href="#" id="rozwin" class="btn-primary btn-xs">Szczegóły</button>
</div>

<div>
    <h3 style="float: right; font-family: 'Oswald', sans-serif;">Przykładowy przedmiot</h3>
    <img src="imgs/produkt4_img.png">
    <p>Cena: 189.99,-</p>
    <button type="submit" href="#" id="kup" class="btn-primary btn-xs">Do koszyka</button>
    <button type="submit" href="#" id="rozwin" class="btn-primary btn-xs">Szczegóły</button>
</div>