<header>
    <a href="list.html"><img src="imgs/logo.png"></a>
</header>

<div id="navbar"> 
        <ul class="list-inline">
            <!-- Add a dropdown menu -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Męskie
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Kurtki</a></li>
                    <li><a href="#">T-Shirty</a></li>
                    <li><a href="#">Koszule</a></li>
                    <li><a href="#">Bluzy</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Żeńskie
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Kurtki</a></li>
                    <li><a href="#">T-Shirty</a></li>
                    <li><a href="#">Koszule</a></li>
                    <li><a href="#">Bluzy</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dziecięce
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Kurtki</a></li>
                    <li><a href="#">T-Shirty</a></li>
                    <li><a href="#">Koszule</a></li>
                    <li><a href="#">Bluzy</a></li>
                </ul>
            </li>
            <li><a href="#">Inne</a></li>
            <li><a href="#">Wyprzedaż</a></li>
            <li><a href="#">Nowości</a></li>

        </ul>
</div>
