
<div class="row">
<!-- POWRÓT DO WYŻSZYCH KATEGORII (DRZEWO) -->
    <div class="kategorie col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <p style="float: left; margin-left: 10px; margin-top: 10px;">Tu bedzie powrót do wyższych kategorii</p>
    </div>
</div>
<div class="row">
    <!-- FILTRY -->
    <div class="filtry col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <div id="kat"> <input type="text" name="kat21" value="cena od" style="width: 33%; margin-top: 10px;" /> <input style="width: 33%; margin-top: 10px;" type="text" name="kat22" value="cena do"> </div>
        <div id="kat"> <h5><input type="checkbox" name="kat3" value="Męskie" /> Rozmiar (pewnie radio)</h5> </div>
        <div id="kat"> <h3><input type="checkbox" name="kat4" value="Męskie" /> Marka</h3> </div>
        <div id="kat"> <h3><input type="checkbox" name="kat5" value="Męskie" /> Krój</h3> </div>
        <div id="kat"> <h3><input type="checkbox" name="kat6" value="Męskie" /> Kolor</h3> </div>
        <div id="kat"> <h3><input type="checkbox" name="kat7" value="Męskie" /> Stan</h3> </div>
        <div id="kat"> <h3><input type="checkbox" name="kat8" value="Męskie" /> Materiał</h3> </div>
        <div id="kat"> <h3><input type="checkbox" name="kat9" value="Męskie" /> Inny filtr</h3> </div>
        <div id="kat"> <h4><input type="checkbox" name="kat10" value="Męskie" /> Jeszcze inny filtr</h4> </div>
        <button type="submit" href="#" id="filtruj" class="btn-primary btn-sm">Filtruj</button>
    </div>

<!-- LISTA PRODUKTÓW -->
    <div class="lista" col-lg-10 col-md-10 col-sm-12 col-xs-12>
        <div>
            <h3 style="float: right; font-family: 'Oswald', sans-serif;">Przykładowy przedmiot</h3>
            <img src="imgs/produkt_img.png">
            <p>Cena: 79.99,-</p>
            <button type="submit" href="#" id="kup" class="btn-primary btn-xs">Do koszyka</button>
            <button type="submit" href="#" id="rozwin" class="btn-primary btn-xs">Szczegóły</button>

        </div>

        <div>
            <h3 style="float: right; font-family: 'Oswald', sans-serif;">Przykładowy przedmiot</h3>
            <img src="imgs/produkt2_img.png">
            <p>Cena: 189.99,-</p>
            <button type="submit" href="#" id="kup" class="btn-primary btn-xs">Do koszyka</button>
            <button type="submit" href="#" id="rozwin" class="btn-primary btn-xs">Szczegóły</button>
        </div>

        <div>
            <h3 style="float: right; font-family: 'Oswald', sans-serif;">Przykładowy przedmiot</h3>
            <img src="imgs/produkt3_img.png">
            <p>Cena: 119.99,-</p>
            <button type="submit" href="#" id="kup" class="btn-primary btn-xs">Do koszyka</button>
            <button type="submit" href="#" id="rozwin" class="btn-primary btn-xs">Szczegóły</button>
        </div>

        <div>
            <h3 style="float: right; font-family: 'Oswald', sans-serif;">Przykładowy przedmiot</h3>
            <img src="imgs/produkt4_img.png">
            <p>Cena: 189.99,-</p>
            <button type="submit" href="#" id="kup" class="btn-primary btn-xs">Do koszyka</button>
            <button type="submit" href="#" id="rozwin" class="btn-primary btn-xs">Szczegóły</button>
        </div>
    </div>
</div>