body {
    background-color: white;
    background-repeat: no-repeat;
    background-size: auto;
    color: black;
}

header {
    width: 95%;
    height: 120px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
}

header img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;

}

#navbar {
    width: 95%;
    height: 45px;
    border: 1px outset black;
    border-radius: 25px;
    margin-top: 2px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    background: linear-gradient(to right, black, lightgrey);
}

li {
    margin-top: 3px;
    float: left;
    margin-left: -1px;
}
 
li a {
    display: block;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    width: 120px;
    height: 50px;
    line-height: 45px;
    margin-top: -4px;
}

li a:hover {
    background-color: white;
    color: black;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#main {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.lista {
    width: 70%;
    float: left;
    margin-left: 60px;
    margin-top: 10px;
}

.lista div {

    height: 200px;
    display: block;
    margin-bottom: 25px;
    border-bottom: 2px dashed grey;
}

.lista div img {
    max-width: 95%;
    max-height: 95%;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 10px;
}



.lista div text {
    font-family: 'Oswald', sans-serif;
    float: left;
    margin-left: 200px;
    margin-top: -130px;
}

.lista div p {
    float: right;
    margin-top: -65px;
}


#kup {
    float: right;
    margin-top: -40px;
    margin-right: 5px;
    font-family: 'Oswald', sans-serif;
}

#kup:hover {
    border: 1px inset lightgrey;
}

#rozwin {
    float: right;
    margin-top: -40px;
    margin-right: 117px;
    font-family: 'Oswald', sans-serif;
}

#rozwin:hover {
    border: 1px inset lightgrey;
}


.filtry {
    width: 20%;
    float: left;
    margin-top: 100px;
    border: 2px solid grey;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    
}

#filtruj {
    float: left;
    margin-left: 40%;
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
}

#kat {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.kategorie {
    width: 20%;
    height: 70px;
    float: left;
    margin-left: 2.5%;
    margin-top: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
}