<div class="row">
<header>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle btn-md hidden-lg hidden-md" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="fas fa-bars"></i>
            <!-- Display icon in button -->
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="max-width: 70px;">
            <li class="dropdown-header">Męskie</li><br><br>
            <dt><a href="#" style="font-size: smaller;">Kurtki</a></dt>
            <dt><a href="#" style="font-size: smaller;">T-Shirty</a></dt>
            <dt><a href="#" style="font-size: smaller;">Koszule</a></dt>
            <dt><a href="#" style="font-size: smaller;">Bluzy</a></dt>

            <li role="separator" class="divider"></li>

            <li class="dropdown-header">Żeńskie</li><br><br>
            <dt><a href="#" style="font-size: smaller;">Kurtki</a></dt>
            <dt><a href="#" style="font-size: smaller;">T-Shirty</a></dt>
            <dt><a href="#" style="font-size: smaller;">Koszule</a></dt>
            <dt><a href="#" style="font-size: smaller;">Bluzy</a></dt>

            <li role="separator" class="divider"></li>

            <li class="dropdown-header">Dziecięce</li><br><br>
            <dt><a href="#" style="font-size: smaller;">Kurtki</a></dt>
            <dt><a href="#" style="font-size: smaller;">T-Shirty</a></dt>
            <dt><a href="#" style="font-size: smaller;">Koszule</a></dt>
            <dt><a href="#" style="font-size: smaller;">Bluzy</a></dt>

            <li role="separator" class="divider"></li><br>

            <dt><a href="#">Inne</a></dt>
            <li role="separator" class="divider"></li>
            <dt><a href="#">Wyprzedaż</a></dt>
            <li role="separator" class="divider"></li>
            <dt><a href="#">Nowości</a></dt>
        </ul>
    </div>
    <a href="list.html"><img src="imgs/logo.png"></a>

</header>
</div>


<div id="navbar" class="hidden-xs hidden-sm">
        <ul class="list-inline">
            <!-- Add a dropdown menu -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Męskie
                <span class="caret"></span></a>
                <ul class="dropdown-menu multi-level" id="dropdown-menu">
                        <li><a href="#">Kurtki</a></li>
                        <li><a href="#">T-Shirty</a></li>
                        <li><a href="#">Koszule</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Bluzy</a>
                            <ul class="dropdown-menu" id="dropdown-menu1">
                                <li><a tabindex="-1" href="#">Rozsuwane</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#">Nierozsuwane</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">3rd level</a></li>
                                        <li><a href="#">3rd level</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Kaptur</a></li>
                                <li><a href="#">Bez kaptura</a></li>
                            </ul>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Żeńskie
                <span class="caret"></span></a>
                <ul class="dropdown-menu multi-level" id="dropdown-menu">
                        <li><a href="#">Kurtki</a></li>
                        <li><a href="#">T-Shirty</a></li>
                        <li><a href="#">Koszule</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Bluzy</a>
                            <ul class="dropdown-menu" id="dropdown-menu1">
                                <li><a tabindex="-1" href="#">Rozsuwane</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#">Nierozsuwane</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">3rd level</a></li>
                                        <li><a href="#">3rd level</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Kaptur</a></li>
                                <li><a href="#">Bez kaptura</a></li>
                            </ul>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dziecięce
                <span class="caret"></span></a>
                <ul class="dropdown-menu multi-level" id="dropdown-menu">
                        <li><a href="#">Kurtki</a></li>
                        <li><a href="#">T-Shirty</a></li>
                        <li><a href="#">Koszule</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Bluzy</a>
                            <ul class="dropdown-menu" id="dropdown-menu1">
                                <li><a tabindex="-1" href="#">Rozsuwane</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#">Nierozsuwane</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">3rd level</a></li>
                                        <li><a href="#">3rd level</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Kaptur</a></li>
                                <li><a href="#">Bez kaptura</a></li>
                            </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Inne</a></li>
            <li><a href="#">Wyprzedaż</a></li>
            <li><a href="#">Nowości</a></li>

        </ul>
</div>

<div id="slider" style="width: 100%;
                                    height: auto;
                                    border-radius: 25px;
                                    margin-left: 25px;"></div>